# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Virtual Environment / Poetry
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data (manter estrutura, ignorar arquivos grandes)
data/raw/*.csv
data/raw/*.zip
data/processed/*.csv

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Models
results/*.pkl
results/*.joblib

results/
reports/figures/fase2/
*.log